{% extends "base.html" %}
{% block title %}Upload Page{% endblock %}
{% block sidebar %}<a href="{{ url_for("index") }}" class="btn btn-primary mt-5">Back to Home</a>{% endblock %}
{% block content %}
    <div class="container border rounded form-container py-3">
        <h1>
            <center>Upload Document</center>
        </h1>
        <form action="{{ url_for("upload") }}"
              method="POST"
              enctype="multipart/form-data"
              class="form form-horizontal"
              role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="title" class="form-label">Title:</label>
                {{ form.title(class_="form-control") }}
            </div>
            <br>
            <div class="form-group">
                <label for="description">Description:</label>
                {{ form.description(cols=32, rows=4, class_="form-control") }}
            </div>
            <br>
            <div class="form-group">
                <label for="file">File:</label>
                {{ form.file(class_="form-control") }}
            </div>
            <br>
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
